@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: enableScroll 3.4s ease-out forwards;
}

$ru: min(calc(50px + 2vw), 10vw);

/* Enable scrolling after all animations complete */
@keyframes enableScroll {
  0% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

a {
	color: unset;
}